body {
  background: rgba(198, 201, 201, 0.46);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(57, 59, 60, 0.86);
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}



.site-header .navbar-nav .nav-link.active {
  font-weight: bolder;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}



.site-header .navbar-nav ul li:hover{
    background-color:#343a40;
    color: white;
}
.navbar {
  min-height:20px ;
}