{% extends "experts/base.html" %}
{% block content %}
<div class="container-fluid">




    <div class="control-group" align="left" style="margin-bottom: 10px">
        <dis class="control-group">
            <form class="form-inline" method="get" action="{% url 'search_expert' %}">
                {% csrf_token %}

                <input style="height: 32px" class="col-3 form-control" type="text" aria-label="Search" name='q' placeholder="专家-全局搜索" required>
                    &nbsp<button type="submit" class="btn btn-warning btn-sm">搜索</button>
            </form>
        </div>
    </dis>
    <div class="control-group">
        <h5>查找专家</h5>
    </div>
        <div class="control-group" align="left">
        <form class="form-horizontal" method="get" action="{% url 'advanced_expert_search' %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="eid" class="col-1 col-form-label">I D：</label>
                <div class="col-2">
                    <input type="search" id="eid" name='eid' class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-1 col-form-label">姓 名：</label>
                <div class="col-2">
                    <input type="search" id="name" name='name' class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label for="trade" class="col-1 col-form-label">行 业：</label>
                <div class="col-10">
                    <input type="search" id="trade" name="trade" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label for="subtrade" class="col-1 col-form-label">子行业：</label>
                <div class="col-10">
                    <input type="search" id="subtrade" name="subtrade" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label for="company" class="col-1 col-form-label">公 司：</label>
                <div class="col-10">
                    <input type="search" id="company" name='company' class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="background" class="col-1 col-form-label">背景：</label>
                <div class="col-10">
                <input class="form-control" id="background" type="search"  name='background'>
                </div>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-success btn-sm">搜索</button>
            </div>
        </form>
    </div>

</div>
{% endblock content %}

