{% extends "experts/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="control-group">
        <h5>{{ expert.ename }}——Comments</h5>
    </div>
    <div class="control-group">
        <input type="button" class="btn btn-info btn-sm"  value="专家个人页面" onclick="location.href='{% url 'expert_detail' expert.ename expert.eid%}'">
        <input type="button" class="btn btn-success btn-sm"  value="新建" onclick="window.location.href='{{ expert.add_comment_url }}'">
    </div>
    <div class="control-group">
        <table class="table table-condensed table-hover" width="100%" style="margin-top: 10px;font-size: 11px">
            <caption></caption>
            <thead style="background-color: whitesmoke">
            <tr>
                <th width="26%">问题</th>
                <th width="60%">详情</th>
                <th width="4%"></th>

            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr class="info">

                <td>{{ comment.eproblem }}</td>
                <td>{{ comment.ecomment }}</td>

                <td>
                    <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ comment.get_comment_update_url }}'">修改</button>
                    <!-- 模态框（Modal） -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCommentModal">删除</button>
                    <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label  class="control-label">确定要删除吗？</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">返回</button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ comment.delete_comment_confirm }}'">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% if result.status == 'success'%}
            <td> {{ c.eproblem }} </td>
            <td> {{ c.ecomment }} </td>

            <td><button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{{ c.delete_comment_confirm }}'">确认删除</button></td>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% endblock content %}