{% extends "experts/base.html" %}

{% block content %}
    <br><br>
    <h2>{{expert.ename}} - 个人信息</h2>
    <br>
    <li> 电话： {{ expert.emobile }} </li>
    <li> EID： {{ expert.eid }} </li>
    <li> 性别： {{ expert.esex }} </li>
    <li> 邮箱： {{ expert.eemail }} </li>
    <li> 行业： {{ expert.etrade }} </li>
    <li> 子行业： {{ expert.esubtrade }} </li>
    <li> 地区： {{expert.elocation}} </li>


    <li> QQ: {{ expert.eqq }} </li>
    <li> 级别： {{ expert.estate }} </li>
    <li> 来源： {{ expert.ecomefrom }} </li>
    <li> 备注： {{ expert.eremark }} </li>

    <li> 添加时间： {{ expert.addtime }} </li>
    <li> 添加人： {{ expert.eupdated_by }} </li>
    <br>

        <input type="button" class="btn btn-info"  value="返回" onclick="javascript:history.go(-1);">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="button" class="btn btn-danger" value="删除" onclick="window.location.href='{{ expert.delete_confirm_url }}'">
        <br><br>
{% endblock content %}