{% extends "experts/home.html" %}
{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
<div align="center">
    <h5>专家列表</h5>
    <table class="table table-hover" border="1" align=center border="0" style="font-size:11px;word-break: break-all;border-color: lightgray" aline=center>
	<caption>专家列表</caption>
   <thead style="background-color: whitesmoke">
      <tr align=center>
          <th width="8%">ID</th>
          <th width="8%">姓名</th>
          <th width="8%">行业</th>
          <th width="8%">公司</th>
          <th width="8%">职位</th>
          <th width="70%" >背景</th>

      </tr>
   </thead>
   <tbody>
   {% for expert in experts %}
      <tr>
          <td><a> {{ expert.eid }}</a></td>
          <td><a href="{{ expert.get_absolute_url }}"> {{ expert.ename }}</a></td>
          <td>{{ expert.etrade }}</td>
          <td>{{ expert.get_company }}</td>
          <td>{{ expert.get_position }}</td>
          <td>{{ expert.ebackground }}</td>
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>
    {% include "experts/pagination.html" with page=experts %}
{% endblock content %}