{% extends "experts/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="control-group">
        <h5>更新{{ expert.ename }}-支付方式</h5>
    </div>

    <div class="control-group" align="left">
        <form action="{{ pay.get_payment_update }}" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="alipay" class="col-2 col-form-label">支付宝：</label>
                <div class="col-10">
                    <input type="text" id="alipay" name='alipay' class="form-control" value="{{pay.alipay}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="bank" class="col-2 col-form-label">银行账户：</label>
                <div class="col-10">
                    <input type="text" id="bank" name='bank' class="form-control" value="{{pay.bank}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="wechat" class="col-2 col-form-label">微信支付：</label>
                <div class="col-10">
                    <input type="text" id="wechat" name='wechat' class="form-control" value="{{pay.wechat}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="remark" class="col-2 col-form-label">备注：</label>
                <div class="col-10">
                    <input type="text" id="remark" name='remark' class="form-control" value="{{ pay.remark}}">
                </div>
            </div>


            <div class="control-group">
                <button type="submit" class="btn btn-success btn-sm">提交</button>
                &nbsp
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
            </div>
    </div>
    </form>
</div>
</div>

{% endblock content %}
