{% extends "experts/base.html" %}
{% block content %}
<div class="container-fluid" align="left">
    <div class="control-group">
        <h5>更新专家信息</h5>
    </div>
    <div class="control-group">
        <form action="/expertinfoupdatetodatabase/" class="form-horizontal" method="post" name="expertinfoupdatetodatabase">
            {% csrf_token %}
            <div class="control-group" align="center">
            <div class="col-3" style="margin-left: 0px">
                <input type="search" name='ename' class="form-control" placeholder="请输入所要更改的专家姓名">
            </div>
            <div class="control-group" style="margin-top: 10px" align="center">
                <button type="submit" class="btn btn-success btn-sm">确认</button>&nbsp
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
            </div>
            </div>

            <!--<div class="control-group">
                {% for expert in expert_objs %}
                <h3> <a href="{{ expert.get_update_url }}"> {{ expert.ename }}</a></h3>
                ——EID: {{ expert.eid }}&nbsp&nbsp&nbsp//&nbsp&nbsp&nbsp行业: {{ expert.etrade }}</p>

                {% endfor %}
            </div>-->

        </form>
        <div class="control-group" style="margin-top: 10px">
            <table class="table table-hover" border="1" align=center border="0" style="font-size:11px;word-break: break-all;border-color: lightgray" aline=center>
                <caption></caption>
                <thead style="background-color: whitesmoke">
                <tr align=center>
                    <th width="6%">ID</th>
                    <th width="6%">姓名</th>
                    <th width="8%">行业</th>
                    <th width="8%">公司</th>
                    <th width="8%">职位</th>
                    <th width="70%">背景</th>
                </tr>
                </thead>
                <tbody>
                {% for expert in expert_objs %}
                <tr>
                    <td style="font-size:11px">{{ expert.eid }}</td>
                    <td style="font-size:11px"><a href="{{ expert.get_update_url }}"> {{ expert.ename }}</a></td>
                    <td style="font-size:11px">{{ expert.etrade }}</td>
                    <td style="font-size:11px">{{ expert.get_company }}</td>
                    <td style="font-size:11px">{{ expert.get_position }}</td>
                    <td style="font-size:11px">{{ expert.ebackground }}</td>
                </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock content %}

