{% extends "experts/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="control-group">
        <h5>更新 {{ expert.ename }}——联系方式</h5>
    </div>
    <div class="control-group" align="left">
        <form action="{{ expert.expert_contact_info_update }}" method="post" name="expert_contact_info_update">
            {% csrf_token %}

            <div class="form-group row">

                <label for="emobile" class="col-1 col-form-label">电 话：</label>
                <div class="col-3">
                    <input type="text" id="emobile" name="emobile" class="form-control" value="{{expert.emobile}}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="eemail" class="col-1 col-form-label">邮 箱：</label>
                <div class="col-3">
                    <input type="text" id="eemail" name='eemail' class="form-control" value="{{expert.eemail}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="eqq" class="col-1 col-form-label">微 信：</label>
                <div class="col-3">
                    <input type="text" id="eqq" name='eqq' class="form-control" value="{{expert.eqq}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="eupdated_by" class="col-1 col-form-label">添加人：</label>
                <div class="col-3">
                    <input id="eupdated_by" type="text" name='eupdated_by' value="{{ user.username }}" class="form-control" required>
                </div>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-success btn-sm">提交</button>
                &nbsp
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
            </div>
        </form>
    </div>


    {% endblock content %}