{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-sm-12" class="content-section">
      <div class="media">

        <div class="media-body">

            <h3 class="page-name">个人中心</h3>
            <br>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action" onclick="location.href='{% url 'home' %}'">LeapTech</button>
                <button type="button" class="list-group-item list-group-item-action" onclick="location.href='{% url 'password_change' %}'">修改密码</button>

            </div>
        </div>

      </div>
        <br><br>
      <!-- FORM HERE -->
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            <p class="text-secondary">Welcome, {{ user.username }}</p>
        </small>
    </div>
{% endblock content %}
