{% extends "clients/client_base.html" %}
    {% block content %}
        <br>
        <h3>新增客户-联系人</h3>
        <br>
    <form method="post">
        {% if flag.create_bc == 'y' %}
            <h4>业务联系人</h4>

                {% csrf_token %}
                <br>
                {% for field in form_bc %}
                    <div class="form-group">
                        <label class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}


        {% endif %}

        {% if flag.create_fc == 'y' %}
            <h4>财务联系人</h4>

                {% csrf_token %}
                <br>
                {% for field in form_fc %}
                    <div class="form-group">
                        <label class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}


        {% endif %}

        <div class="pull-right col-sm-10">
                     <button type="submit" class="btn btn-success">提交</button>
                <button type="reset" class="btn btn-warning">重置</button>
        </div>
    </form>
{% endblock content %}

