{% extends "clients/client_base.html" %}
    {% block content %}

        <br>
        <h3 class='col-sm-12'>业务联系人</h3>
    {% if result.status == 'error' %}
        <p class='col-sm-12' style="align-content: center;color: red;font-size: medium">
           操作失败，请重新操作！
        </p>
    {% endif %}

        <form class='col-sm-12' method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                        <label class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                </div>
            {% endfor %}
            <div class="pull-right col-sm-10">
                <button type="reset" class="btn btn-warning">重置</button>
                <button type="submit" class="btn btn-success">提交</button>
            </div>

            <!--{{ form.as_p }}-->
            <!--<input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="add">-->
        </form>

    {% endblock content %}

