{% extends "clients/client_base.html" %}
    {% block content %}
        <br>
        <h3 class='col-sm-12'>新增客户</h3>
        <br>
        <form class='col-sm-12' action="/addClientToDatabase/" method="post" name="addClientToDatabase">
            {% csrf_token %}
            <br>
            {% for field in form %}
                <div class="form-group">
                    {% if field.label == '客户信息' %}
                        <label style="font-weight: 700" class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            <textarea name='cinfo' class="form-control" rows="5"></textarea>
                        </div>
                    {% elif field.label == '收费政策' %}
                        <label style="font-weight: 700" class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            <textarea name='cpolicy' class="form-control" rows="5"></textarea>
                        </div>
                    {% elif field.label == '备注' %}
                        <label style="font-weight: 700" class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            <textarea name='cremark' class="form-control" rows="5"></textarea>
                        </div>
                    {% elif field.label == '客户类型' %}
                        <label style="font-weight: 700" class="sol-sm-2 " for="ctype">客户类型：</label>
                            <select name="ctype">
                                <option>请选择</option>
                                <option>咨询公司</option>
                                <option>投资机构</option>
                                <option>企业</option>
                                <option>其它</option>
                            </select>
                    {% elif field.label == '咨费' %}
                        <label style="font-weight: 700" class="sol-sm-2 control-label">咨费：</label>
                        <input type="number" name='cfee' value=0>
                    {% else %}

                        <label style="font-weight: 700" class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="pull-right col-sm-10">
                <button type="submit" class="btn btn-success">添加</button>
                <button type="reset" class="btn btn-warning">重置</button>
            </div>

            <!--{{ form.as_p }}-->
            <!--<input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="add">-->
        </form>

    {% endblock content %}

