{% extends "clients/client_base.html" %}
    {% block content %}

        <br>
        <h2>新增业务联系人</h2>
{% if result.status == 'success' %}
        <p style="align-content: center;color: green;font-size: medium">
            <!--<input type="button" class="btn btn-success" value="修改成功，返回专家信息" onclick="window.location.href='{% url 'expertinfolist' %}'"></a>-->
            <input type="button" class="btn btn-success btn-sm"  value="修改成功,返回" onclick="location.href='{% url 'fc_detail_update' bc.bc_id bc.cid.cid %}'">
        </p>
    {% endif %}
    <br>
        <br>
        <form action="{% url 'bc_detail_update' bc.bc_id bc.cid.cid %}" method="post" name="bc_detail_update">
            {% csrf_token %}
            <br>
            {% for field in form %}
                <div class="form-group">
                        <label class="sol-sm-2 control-label">{{ field.label }}：</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                </div>
            {% endfor %}
            <div class="pull-right col-sm-10">
                <button type="reset" class="btn btn-warning">重置</button>
                <button type="submit" class="btn btn-success">添加</button>
            </div>

            <!--{{ form.as_p }}-->
            <!--<input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="add">-->
        </form>

    {% endblock content %}

