{% extends "clients/client_base.html" %}
    {% block content %}

<div class="container-fluid">
    <div class="control-group">
        <h5>业务联系人</h5>
    </div>
    {% if result.status == 'error' %}
    <div class="alert alert-danger" role="alert">
        操作失败，请重新操作！请确认必填项！
    </div>
    {% elif result.status == 'existed' %}
    <div class="alert alert-danger" role="alert">
           操作失败，请勿添加重名联系人(英文名不区分大小写)！
    </div>
    {% endif %}
    <div class="control-group">
        <form method="post">
            {% csrf_token %}

            <div class="form-group row">
                <label for="bc_name" class="col-1 col-form-label"><a style="color: red">*</a>姓名：</label>
                <div class="col-3">
                    <input type="text" id="bc_name" name='bc_name' class="form-control" value="{{ bc.bc_name }}" required>
                </div>
                <label for="bc_gender" class="col-1 col-form-label"><a style="color: red">*</a>性别：</label>
                <div class="col-3">
                    <select id="bc_gender" name='bc_gender' class="form-control">
                        <option value="X" {% if bc.bc_gender == '' %} selected = "selected" {% endif %}>请选择</option>
                        <option value="M" {% if bc.bc_gender == 'M' %} selected = "selected" {% endif %}>M</option>
                        <option value="F" {% if bc.bc_gender == 'F' %} selected = "selected" {% endif %}>F</option>
                    </select>
                </div>
                <label for="bc_position" class="col-1 col-form-label">职位：</label>
                <div class="col-3">
                    <input type="text" id="bc_position" name='bc_position' class="form-control" value="{{ bc.bc_position }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="bc_mobile" class="col-1 col-form-label">电话：</label>
                <div class="col-3">
                    <input type="text" id="bc_mobile" name='bc_mobile' class="form-control" value="{{ bc.bc_mobile }}">
                </div>
                <label for="bc_wechat" class="col-1 col-form-label">微信：</label>
                <div class="col-3">
                    <input type="text" id="bc_wechat" name='bc_wechat' class="form-control" value="{{ bc.bc_wechat }}">
                </div>
                <label for="bc_email" class="col-1 col-form-label">邮箱：</label>
                <div class="col-3">
                    <input type="text" id="bc_email" name='bc_email' class="form-control" value="{{ bc.bc_email }}">
                </div>
            </div>

            <div class="control-group">
                <button type="submit" class="btn btn-success btn-sm">提交</button>
                &nbsp
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
            </div>


        </form>
    </div>
</div>

    {% endblock content %}

