{% extends "clients/client_base.html" %}
    {% block content %}
    <br>
    <h3 class="col-sm-12">新建项目</h3>
    {% if result.status == 'error' %}
        <p class='col-sm-12' style="align-content: center;color: red;font-size: medium">
           该项目已存在，请勿重复添加！
        </p>
    {% endif %}
    <p>
        <form class="col-sm-12"  method="post">
            {% csrf_token %}

            <p>
                <div class="col-sm-12">
                    <label style="font-weight: 700">*项目名称：</label>
                    <input type="text" name='pname'>
                </div>
            </p>
            <p>
            <div class="col-sm-12">
                <label style="font-weight: 700" class="control-label">项目经理：</label>
                <input type="text" name='pm'>&nbsp&nbsp&nbsp
                <label style="font-weight: 700" class="control-label">性别：</label>
                <input type="text" name='pm_gender'>&nbsp&nbsp&nbsp

                <label style="font-weight: 700" class="control-label">电话：</label>
                <input type="text" name='pm_mobile'>&nbsp&nbsp&nbsp
                <label style="font-weight: 700" class="control-label">邮箱：</label>
                <input type="text" name='pm_email'>
            </div>
            </p>
            <p>
            <div class="col-sm-12">
                <label style="font-weight: 700" class="control-label">项目截止日期(YYYY-MM-DD)：</label>
                <input type="text" name='pdeadline'>
                &nbsp&nbsp&nbsp
                <label style="font-weight: 700" class="control-label">我方对接人：</label>
                <input type="text" name='person_in_charge'>
            </div>
            </p>
            <p class="col-sm-12" style="white-space: pre-line">
                <label style="font-weight: 700" class="control-label">详情：</label>
                <textarea name='pdetail' class="form-control" rows="5"></textarea>

                <label style="font-weight: 700" class="control-label">备注：</label>
                <textarea name='premark' class="form-control" rows="5"></textarea>
            </p>

            <div class="pull-right col-sm-10">
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
                <button type="submit" class="btn btn-success btn-sm">添加</button>
            </div>

        </form>
    </p>
{% endblock content %}

