{% extends "clients/client_base.html" %}
{% block content %}
    <br>
    <h2>客户列表</h2>
    <br>


<!--<table class="table table-condensed table-striped" width="100%" style="font-size:10px; max-height:50px">-->
<table class="table table-striped" align=center width=778 border=1 bordercolordark=white bordercolorlight=black cellpadding=3 cellspacing=0 style="font-size:11px;word-break:break-all" aline=center>
	<caption></caption>
   <thead>
      <tr>
          <th width="20%">客户</th>
          <th width="10%">客户类型</th>
          <th width="10%">业务联系人</th>
          <th width="10%">财务联系人</th>
          <th width="20%">收费政策</th>

          <th width="30%">客户信息</th>

      </tr>
   </thead>
   <tbody>
   {% for client in clients %}
      <tr>
          <td><a href="{{ client.get_client_detail }}"> {{ client.cname }}</a></td>
          <td>{{ client.ctype }}</td>
          <td><a href=""> {{ client.bc_name }}</a></td>
          <td><a href="">{{ client.fc_name }}</a></td>
          <td>{{ client.half_hrs }}</td>

          <td>{{ client.cinfo }}</td>
      </tr>

    {% endfor %}
   </tbody>
</table>

    {% include "clients/pagination.html" with page=clients %}
{% endblock content %}