{% extends "clients/client_base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="control-group">
        {% if perms.users.can_delete_client_info %}
        <h5>{{ client.cname }}&nbsp;
            <input type="button" class="btn btn-info btn-sm"  value="修改客户信息" onclick="window.location.href='{{ client.update_client_detail }}'">

            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteClient">删除</button>
            </h5>
            <div class="modal fade" id="deleteClient" tabindex="-1" role="dialog" aria-labelledby="deleteClientLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="control-label">确定要删除吗？</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">返回</button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ client.delete_client }}'">确认</button>
                        </div>
                    </div>
                </div>
            </div>

            {% if result == '删除失败' %}
            <div class="alert alert-danger" role="alert">
                {{ result }}
            </div>
            {% endif %}


        {% else %}
        <h5>{{ client.cname }}&nbsp
            {% if perms.users.can_change_client_info %}
                <input type="button" class="btn btn-info btn-sm"  value="修改客户信息" onclick="window.location.href='{{ client.update_client_detail }}'">
            {% endif %}
        </h5>
        {% endif %}
    </div>

    <div class="control-group">
        <table class="table table-condensed table-hover" width="100%" style="font-size:10px;table-layout: auto">
            <tr>
                <td>客户ID：{{ client.cid}}</td>
                <td>客户名称：{{ client.cname}}</td>
                <td>客户类型：{{client.ctype}}</td>

            </tr>

            <tr>
                <td>主业务联系人：{{client.bc_name}}</td>
                <td>主财务联系人：{{client.fc_name}}</td>
                <td>
                    {% if perms.users.can_view_cfee %}
                    咨费：{{ client.cfee }} 元
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="control-group">
        <table class="table table-condensed table-hover" width="100%" style="font-size:10px;table-layout: auto">
            <caption>客户信息</caption>
            <tr>
                <td style="white-space: pre-line">收费政策：
                    {{ client.cpolicy }}
                </td>
            </tr>
            <tr>
                <td style="white-space: pre-line">客户信息：
                    {{ client.cinfo }}
                </td>
            </tr>
            <tr>
                <td style="white-space: pre-line">备注：
                    {{  client.cremark }}
                </td>
            </tr>
        </table>
    </div>

    <!--
    {% for p2e in p2es %}
    <p>
        <label style="font-weight: 700"></label>{{p2e}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

    </p>
   {% endfor %}-->
    <div class="control-group">
        <h5>项目列表 &nbsp
            {% if perms.projects.add_project %}
            <input type="button" class="btn btn-success btn-sm"  value="添加" onclick="window.location.href='{{ client.client_add_project }}'">
            {% endif %}
        </h5>
        <table class="table table-condensed table-hover" width="100%" style="font-size:10px; max-height:50px">
            <caption>项目列表</caption>
            <thead style="background-color: whitesmoke">
            <tr>
                <th width="10%">项目ID</th>
                <th width="20%">项目名称</th>
                <th width="10%">客户对接人</th>
                <th width="10%">项目经理</th>
                <th width="15%">项目发布时间</th>
                <th width="15%">项目截止时间</th>
                <th width="6%"></th>

            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.pid }}</td>
                <td><a href="{{ project.get_project_detail }}">{{ project.pname }}</a></td>
                <td>{{ project.pm}}</td>
                <td>{{ project.person_in_charge }}</td>
                <td>{{ project.pcreatetime }}</td>
                <td>{{ project.pdeadline }}</td>
                {% if perms.projects.change_project %}
                <td>
                    <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ project.update_project_detail }}'">修改</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="control-group">
        <h5>业务联系人 &nbsp
            {% if perms.users.can_add_client_bc_fc %}
            <input type="button" class="btn btn-success btn-sm"  value="添加" onclick="window.location.href='{{ client.client_add_bc }}'">
            {% endif %}
        </h5>
        <table class="table table-condensed table-hover" width="100%" style="font-size:10px; max-height:50px">
            <caption>业务联系人列表</caption>
            <thead style="background-color: whitesmoke">
            <tr>
                <th width="10%">姓名</th>
                <th width="5%">性别</th>
                <th width="15%">电话</th>
                <th width="15%">微信</th>
                <th width="15%">邮箱</th>
                <th width="10%">职位</th>
                <th width="12%"></th>

            </tr>
            </thead>
            <tbody>
            {% for bc in bc_list %}
            <tr class="info">
                <td>{{ bc.bc_name }}</td>
                <td>{{ bc.bc_gender }}</td>
                {% if perms.users.can_view_client_bc_fc_contact %}
                <td>{{ bc.bc_mobile}}</td>
                <td>{{ fc.fc_wechat}}</td>
                <td>{{ bc.bc_email }}</td>
                <td>{{ bc.bc_position }}</td>
                {% if perms.users.can_change_client_bc_fc_contact %}
                <td>
                    <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{% url 'bc_detail_update' bc.bc_id client.cid %}'">修改</button>

                    {% if perms.users.can_delete_client_bc_fc_contact %}
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteClientBC">删除</button>
                    <div class="modal fade" id="deleteClientBC" tabindex="-1" role="dialog" aria-labelledby="deleteClientBCLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label style="color: red;font-weight: 700" class="control-label">确定要删除吗？</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">返回</button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'delete_client_bc' bc.bc_id client.cid %}'">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if result == '删除失败' %}
                        {{ result }}
                    {% endif %}

                    {% endif %}
                </td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="control-group">
        <h5>财务联系人 &nbsp
            {% if perms.users.can_add_client_bc_fc %}
            <input type="button" class="btn btn-success btn-sm"  value="添加" onclick="window.location.href='{{ client.client_add_fc }}'">
            {% endif %}
        </h5>
        <table class="table table-condensed table-hover" width="100%" style="font-size:10px; max-height:50px">
            <caption>财务联系人列表</caption>
            <thead style="background-color: whitesmoke">
            <tr>
                 <th width="10%">姓名</th>
                <th width="5%">性别</th>
                <th width="15%">电话</th>
                <th width="15%">微信</th>
                <th width="15%">邮箱</th>
                <th width="10%">职位</th>
                <th width="12%"></th>
            </tr>
            </thead>
            <tbody>
            {% for fc in fc_list %}
            <tr class="info">
                <td>{{ fc.fc_name }}</td>
                <td>{{ fc.fc_gender }}</td>
                {% if perms.users.can_view_client_bc_fc_contact %}
                <td>{{ fc.fc_mobile}}</td>
                <td>{{ fc.fc_wechat}}</td>
                <td>{{ fc.fc_email }}</td>
                <td>{{ fc.fc_position }}</td>
                {% if perms.users.can_change_client_bc_fc_contact %}
                <td>
                    <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{% url 'fc_detail_update' fc.fc_id client.cid %}'">修改</button>

                    {% if perms.users.can_delete_client_bc_fc_contact %}
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteClientFC">删除</button>
                    <div class="modal fade" id="deleteClientFC" tabindex="-1" role="dialog" aria-labelledby="deleteClientFCLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label style="color: red;font-weight: 700" class="control-label">确定要删除吗？</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">返回</button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'delete_client_fc' fc.fc_id client.cid %}'">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if result == '删除失败' %}
                        {{ result }}
                    {% endif %}

                    {% endif %}
                </td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>


        {% endblock content %}