{% extends "clients/client_base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="control-group">
        <h5>更新 {{ client.cname }}</h5>
    </div>
    <div class="control-group">
        {% if result.status == 'error' %}
        <div class="alert alert-danger" role="alert">
            添加失败请重新添加
        </div>
        {% endif %}
    </div>
    <div class="control-group">
        <form action="{{ client.update_client_detail }}" method="post" name="update_client_detail">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-2">客户ID：</label>
                <div class="col-2">
                    {{ client.cid }}
                </div>
            </div>
            <div class="form-group row">
                <label for="cname" class="col-2 col-form-label"><a style="color: red">*</a>客户名称：</label>
                <div class="col-6">
                    <input type="text" id="cname" name='cname' class="form-control" value="{{ client.cname }}" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="bc_name" class="col-2 col-form-label"><a style="color: red">*</a>主业务联系人：</label>
                <div class="col-2">
                    <select id="bc_name" name='bc_name' class="form-control" required>
                        <option>请选择</option>
                        {% for bc in bc_list %}
                        <option value="{{bc.bc_name}}" {% if bc.bc_name == bc_name %} selected="selected" {% endif %}>{{ bc.bc_name }}</option>
                        <!--<option>{{ bc.bc_name }}</option>-->
                        {% endfor %}
                    </select>
                </div>
                <label for="fc_name" class="col-2 col-form-label">主财务联系人：</label>
                <div class="col-2">
                    <select id="fc_name" name='fc_name' class="form-control">
                        <option>请选择</option>
                        {% for fc in fc_list %}
                        <option value="{{fc.fc_name}}" {% if fc.fc_name == fc_name %} selected="selected" {% endif %}>{{ fc.fc_name }}</option>
                        <!--<option>{{ fc.fc_name }}</option>-->
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="ctype" class="col-2 col-form-label"><a style="color: red">*</a>客户类型：</label>
                <div class="col-2">
                    <select id="ctype" name='ctype' class="form-control" required>
                        <option>请选择</option>
                        <option value="咨询公司" {% if client.ctype == '咨询公司' %} selected="selected" {% endif %}>咨询公司</option>
                        <option value="投资机构" {% if client.ctype == '投资机构' %} selected="selected" {% endif %}>投资机构</option>
                        <option value="企业" {% if client.ctype == '企业' %} selected="selected" {% endif %}>企业</option>
                        <option value="其它" {% if client.ctype == '其它' %} selected="selected" {% endif %}>其它</option>
                    </select>
                </div>
                <label for="cfee" class="col-2 col-form-label"><a style="color: red">*</a>咨费：</label>
                <div class="col-2">
                    {% if perms.users.can_change_cfee %}
                    <input type="number" id="cfee" name='cfee' class="form-control" value="{{ client.cfee }}">
                    {% else %}
                    <div class="alert alert-danger" style="height: 40px" role="alert">
                        无操作权限
                    </div>
                    {% endif %}
                </div>

            </div>

            <div class="form-group row">
                <label for="cinfo" class="col-2 col-form-label">客户信息：</label>
                <div class="col-10">
                    <textarea id="cinfo" name='cinfo' class="form-control" row="5">{{ client.cinfo }}</textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="cpolicy" class="col-2 col-form-label">收费政策：</label>
                <div class="col-10">
                    <textarea id="cpolicy" name='cpolicy' class="form-control" row="5">{{ client.cpolicy }}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="cremark" class="col-2 col-form-label">备注：</label>
                <div class="col-10">
                    <textarea id="cremark" name='cremark' class="form-control" row="5">{{ client.cremark }}</textarea>
                </div>
            </div>

            <div class="control-group">
                <button type="submit" class="btn btn-success btn-sm">提交</button>
                &nbsp
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
            </div>

        </form>
    </div>
</div>

{% endblock content %}