{% extends "projects/project_base.html" %}
{% block content %}
    <br>
   <h3 class="col-sm-12"> 更新{{ client.cname }}信息</h3>
    {% if result.status == 'error' %}
        <p class='col-sm-12' style="align-content: center;color: red;font-size: medium">
           操作失败，请重新操作！
        </p>
    {% endif %}
<br>
    <form class="col-sm-12" action="{{ client.update_client_detail }}" method="post" name="update_client_detail">
        {% csrf_token %}
            <p class="sol-sm-12">
                <label style="font-weight: 700">客户ID: {{ client.cid }}</label>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <label style="font-weight: 700" class="sol-sm-2 control-label">客户名称：</label>

                    <input type="text" name='cname' value="{{ client.cname }}">
            </p>

            <p class="sol-sm-12">
                    <label style="font-weight: 700" class="sol-sm-2" for="bc">主业务联系人</label>
                    <select name="bc_name">
                        {% for bc in bc_list %}
                        <option>{{ bc.bc_name }}</option>
                        {% endfor %}
                    </select>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <label style="font-weight: 700" class="sol-sm-2" for="fc">主财务联系人</label>
                    <select name="fc_name">
                        {% for fc in fc_list %}
                        <option>{{ fc.fc_name }}</option>
                        {% endfor %}
                    </select>
                </p>
            <p class="sol-sm-12">
                <label style="font-weight: 700" class="sol-sm-2 ">客户类型：</label>
                    <input name='ctype' type="text" value="{{ client.ctype }}">

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <label style="font-weight: 700" class="sol-sm-2 ">收费政策：</label>

                    <input name='cpolicy' type="text" value="{{ client.cpolicy }}">


        </p>
            <p class="sol-sm-12">

                <label style="font-weight: 700" class="sol-sm-2 control-label">客户信息：</label>

                    <textarea name='cinfo' class="form-control" rows="5">{{ client.cinfo }}</textarea>
        </p>
         <p class="sol-sm-12">

                <label style="font-weight: 700" class="sol-sm-2 control-label">备注：</label>

                    <textarea name='cremark' class="form-control" rows="5">{{ client.cremark }}</textarea>
        </p>

        <div class="pull-right col-sm-12">
                 <button type="reset" class="btn btn-warning btn-sm">重置</button>
                 <button type="submit" class="btn btn-success btn-sm">更新</button>
        </div>
    </form>


{% endblock content %}