{% extends "projects/project_base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="control-group">
        <h5>添加访谈记录</h5>
    </div>
    <div class="control-group">
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="eid" class="col-2 col-form-label">*专家ID：</label>
                <div class="col-2">
                    <input type="text" id="eid" name='eid' class="form-control" placeholder="必填" required>
                </div>

                <label for="ename" class="col-2 col-form-label">专家姓名：</label>
                <div class="col-2">
                    <input type="text" id="ename" name='ename' class="form-control" placeholder="选填">
                </div>
            </div>
            <div class="control-group">
                {% if flag.status == 'error' %}
                <div class="alert alert-danger" role="alert">
                    <a>ID不存在 或 ID与姓名不匹配</a>
                </div>
                {% endif %}
            </div>


            <div class="control-group">
                <button type="submit" class="btn btn-success btn-sm">提交</button>
                &nbsp
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}