{% extends "projects/project_base.html" %}
    {% block content %}
    <br>
    <h3 class="col-sm-12">新建项目</h3>
    <p>
        <form class="col-sm-12" action="/addProjectToDatabase/" method="post" name="addProjectToDatabase">
            {% csrf_token %}

            <p>
            <div class="col-sm-12">
                <label style="font-weight: 700">*项目名称：</label>
                <input type="text" name='pname'>
            </div>
            </p>
            <p>
            <div class="col-sm-12">
                <label style="font-weight: 700">*客户ID：</label>
                <input type="text" name='cid'>
                <label style="font-weight: 700">客户名称：</label>
                <input type="text" name='cname'>

            </div>
            </p>
            <p>
            <div class="col-sm-12">
                <label style="font-weight: 700" class="control-label">项目经理：</label>
                <input type="text" name='pm'>
                <label style="font-weight: 700" class="control-label">性别：</label>
                <input type="text" name='pm_gender'>

                <label style="font-weight: 700" class="control-label">电话：</label>
                <input type="text" name='pm_mobile'>
                <label style="font-weight: 700" class="control-label">邮箱：</label>
                <input type="text" name='pm_email'>
                <label style="font-weight: 700" class="control-label">微信：</label>
                <input type="text" name='pm_wechat'>
            </div>
            </p>
            <p>
            <div class="col-sm-12">
                <label style="font-weight: 700" class="control-label">项目截止日期(YYYY-MM-DD)：</label>
                <input type="text" name='pdeadline'>
                <label style="font-weight: 700" class="control-label">我方对接人：</label>
                <input type="text" name='person_in_charge'>
            </div>
            </p>
            <p class="col-sm-12" style="white-space: pre-line">

                <label style="font-weight: 700" class="control-label">详情：</label>
                <textarea name='pdetail' class="form-control" rows="5"></textarea>
                <label style="font-weight: 700" class="control-label">备注：</label>
                <textarea name='premark' class="form-control" rows="5"></textarea>
            </p>

            <div class="pull-right col-sm-10">
                <button type="reset" class="btn btn-warning">重置</button>
                <button type="submit" class="btn btn-success">添加</button>
            </div>

        </form>
    </p>
    {% endblock content %}

