{% extends "projects/project_base.html" %}
    {% block content %}
        <br>
        <input type="button" class="btn btn-info btn-sm"  value="返回上一步" onclick="location.href='{% url 'project_detail' project.pid project.cid.cid %}'">
        <br><br>
        <h3 class="col-sm-12">添加参与项目专家</h3>

        <form action="." method="post">
            {% csrf_token %}
            <p>
                <div class="col-sm-12">
                    <label style="font-weight: 700">*专家ID：</label>
                    <input type="number" name='eid' value=0>
                    &nbsp&nbsp&nbsp
                    <label style="font-weight: 700">专家姓名：</label>
                    <input type="text" name='ename' placeholder="选填">
                    {% if flag.status == 'error' %}
                        &nbsp&nbsp&nbsp
                        <button type="reset" class="btn btn-danger btn-sm">重复添加/ID与姓名不匹配</button>
                    {% endif %}
<!--                <label>访谈状态(1:已访谈'),(0:未访谈)：</label>
                <input type="number" name='status' value=0>
                <label>访谈时间：</label>
                <input type="text" name='itv_stime' placeholder="2019-07-01 15:00">
                <label>访谈时长：</label>
                <input type="number" name='itv_duration' placeholder=60>-->
                </div>
            </p>
            <div class="pull-right col-sm-12">
                 <button type="submit" class="btn btn-success">提交</button>
                <button type="reset" class="btn btn-warning">重置</button>

            </div>
        </form>

    {% endblock content %}