{% extends "projects/project_base.html" %}
{% block content %}
<br>
<h3 class="col-sm-12">查找项目</h3>
<br>

                  <form class="col-sm-12" method="get" action="{% url 'advanced_project_search' %}" >
                    {% csrf_token %}
                      <input class="col-sm-2" type="search" name='pid' placeholder="ID">&nbsp&nbsp&nbsp
                      <input class="col-sm-4" type="search" name='pname' placeholder="项目名">&nbsp&nbsp&nbsp
                      <br><br>
                      <input class="col-sm-6" style="width: 150px" type="search"  name='cremark' placeholder="项目备注">&nbsp&nbsp&nbsp
                       <input class="col-sm-6" style="width: 150px" type="search"  name='cdetail' placeholder="项目详情">&nbsp&nbsp&nbsp
                      <br><br>
                    <button type="submit" class="btn btn-success">搜索</button>
                  </form>
{% endblock content %}

