<div class="container-fluid">
    <div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}" class="btn btn-success btn-sm">上一页</a>&nbsp&nbsp&nbsp
        {% endif %}
        <span class="current">
            第 {{ page.number }} 页/共 {{ page.paginator.num_pages }} 页
        </span>
        {% if page.has_next %}
            &nbsp&nbsp&nbsp<a href="?page={{ page.next_page_number }}" class="btn btn-success btn-sm">下一页</a>
        {% endif %}
    </span>

    </div>
</div>