{% extends "experts/home.html" %}
{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="height: 43px">
        <a class="navbar-brand" href="{% url 'home' %}"><strong> LeapTech</strong></a>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">专家</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'expertinfolist' %}">专家列表</a>
                        <a class="dropdown-item" href="{% url 'advanced_expert_form'%}">查找专家</a>
                        <a class="dropdown-item" href="{% url 'addexpert'%}">添加专家</a>
                        <a class="dropdown-item" href="{% url 'updateexpert' %}">更新专家</a>
                    </div>
                </li>
                <li class="nav-item dropdown active" style="background-color: white;height: 42px">
                    <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bolder;color: darkslategray">项目</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="{% url 'project_info_list' %}">项目列表</a>
                        <a class="dropdown-item" href="{% url 'advanced_project_form' %}">查找项目</a>
                        <!--<a class="dropdown-item" href="{% url 'add_project' %}">添加项目</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">客户</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        {% if perms.users.can_view_client_info %}
                        <a class="dropdown-item" href="{% url 'client_info_list' %}">客户列表</a>
                        <a class="dropdown-item" href="{% url 'advanced_client_form' %}">查找客户</a>
                        {% endif %}
                        {% if perms.users.can_add_client %}
                        <a class="dropdown-item" href="{% url 'add_client' %}">添加客户</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">个人中心</a>
                </li>
            </ul>
            <!--<form class="form-inline my-2 my-md-0" method="get" action="{% url 'search_expert' %}">
                {% csrf_token %}
                <input style="height: 32px" class="form-control" type="text" aria-label="Search" name='q' placeholder="专家-全局搜索" required>
            </form>-->
            {% endif %}
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link">{{user.username}}</a></li>

            </ul>
            <ul>
                {% if user.is_authenticated %}
                <li class="nav-item" style="margin-top: 15px">
                    <button class="btn btn-outline-danger btn-sm" onclick="location.href='{% url 'logout' %}'">登出</button>
                </li>
                {% else %}
                <li class="nav-item" style="margin-top: 15px">
                    <button class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'dashboard' %}'">登录</button>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div align="center">
    <h5>项目列表</h5>

    <table class="table table-hover" align=center border="1" style="font-size:11px;table-layout:fixed;" aline=center>
        <caption>项目列表</caption>
        <thead style="background-color: whitesmoke">
        <tr align=center>
            <th width="10%">ID</th>
            <th width="20%">项目名称</th>
            <th width="20%">客户名称</th>
            <th width="10%">客户对接人</th>
            <th width="10%">项目负责人</th>
            <th width="15%">开始日期</th>
            <th width="15%">结束日期</th>

        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.pid }}</td>
            <td><a href="{{ project.get_project_detail }}"> {{ project.pname }}</a></td>
            <td>{{ project.cid.cname }}</td>
            <td>{{ project.pm }}</td>
            <td>{{ project.person_in_charge }}</td>
            <td>{{ project.pcreatetime }}</td>
            <td>{{ project.pdeadline }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% include "projects/pagination.html" with page=projects %}
{% endblock content %}