{% extends "projects/project_base.html" %}


{% block content %}
<br>
{% if perms.experts.can_view_contact_info %}
    <h2 class="col-sm-10">{{ project.pname }}&nbsp&nbsp&nbsp
        <input type="button" class="btn btn-success btn-sm"  value="修改项目信息" onclick="window.location.href='{{ project.update_project_detail }}'">
    </h2>
{% else %}
    <h2>{{ project.pname }}&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='.'">无权限查看联系方式
        </button>
        <input type="button" class="btn btn-success btn-sm"  value="修改项目信息" onclick="window.location.href=''">
    </h2>
{% endif %}
<br>
<div class="col-sm-10" style="position: center">
    <p>
        <label style="font-weight: 700">PID: </label>{{project.pid}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <label style="font-weight: 700">客户ID-名称: </label><a href="{{ project.cid.get_client_detail }}">{{project.cid}}</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </p>
    <p>
        <label style="font-weight: 700">项目经理: </label>{{project.pm}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <label style="font-weight: 700">项目经理电话: </label>{{project.pm_mobile}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <label style="font-weight: 700">项目经理邮箱: </label>{{project.pm_email}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <label style="font-weight: 700">项目经理性别:</label>{{ project.pm_gender }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </p>
    <p>
        <label style="font-weight: 700">项目发布时间:</label>{{ project.pcreatetime }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <label style="font-weight: 700">项目截止日期: </label>{{project.pdeadline}}
    </p>
   

</div>


<br>
<h5 class="col-sm-10">项目专家 &nbsp&nbsp&nbsp<input type="button" class="btn btn-success btn-sm"  value="添加专家" onclick="window.location.href='{{ project.add_p2e }}'"></h5>
<table class="table table-condensed table-hover" width="100%" style="font-size:10px; max-height:50px">
                    <caption></caption>
                    <thead>
                    <tr>
                        <th width="20%">专家</th>
                        <th width="20%">公司</th>
                        <th width="10%">状态</th>
                        <th width="20%">访谈时间</th>
                        <th width="10%">访谈时长</th>
                        <th width="10%"></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for p2e in p2es %}
                    <tr class="info">
                        <td><a href="{{ p2e.eid.get_absolute_url }}">{{ p2e.ename }}</a></td>
                        <td>{{ p2e.ecompany }}</td>
                        <td>{{ p2e.status}}</td>
                        <td>{{ p2e.itv_stime }}</td>
                        <td>{{ p2e.itv_duration }}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ p2e.update_p2e_url }}'">修改</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="location.href=''">删除</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if result.status == 'success'%}
                        <td>{{ exp.stime }} - {{ exp.etime }}</td>
                        <td>{{ exp.company }} - {{ exp.agency }}</td>
                        <td>{{ exp.position }} - {{ exp.duty }}</td>
                        <td> {{ exp.area }}</td>
                        <td>            <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{{ exp.delete_workexp_confirm }}'">确认删除</button></td>
                    {% endif %}
                    </tbody>
                </table>
{% endblock content %}