{% extends "projects/project_base.html" %}
    {% block content %}
      <div class="container-fluid">
    <div class="control-group">
        <h5> 访谈信息</h5>
    </div>
          <div class="control-group">
        <form method="post">
            {% csrf_token %}

            <div class="form-group row">
                <label class="col-2">项目名称：</label>
                <div class="col-2">
                    <a href="{{ project.get_project_detail }}">{{ project.pname }}</a>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2">专家ID-姓名：</label>
                <div class="col-2">
                    <a href="{{ expert.get_absolute_url }}">{{ expert }}</a>
                </div>
                <label class="col-2">专家公司：</label>
                <div class="col-6">
                    <a>{{ expert.get_company }}</a>
                </div>
            </div>

            <div class="form-group row">
                <label for="itv_date" class="col-2 col-form-label"><a style="color: red">*</a>访谈日期：</label>
                <div class="col-2">
                    <input type="text" id="itv_date" name='itv_date' class="form-control" value="{{ object.itv_date }}" placeholder="YYYY-MM-DD" required>
                </div>

                <label class="col-2 col-form-label"><a style="color: red">*</a>开始时间-结束时间：</label>
                <div class="col-1">
                    <input type="text"name='itv_stime' class="form-control" value="{{ object.itv_stime }}" placeholder="hh:mm" required>
                </div>
                -
                <div class="col-1">
                    <input type="text" name='itv_etime' class="form-control" value="{{ object.itv_etime }}" placeholder="hh:mm" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="itv_approach" class="col-2 col-form-label"><a style="color: red">*</a>咨询方式：</label>
                <div class="col-2">
                    <select id="itv_approach" name='itv_approach' class="form-control" required>
                        <option value="请选择" {% if object.itv_approach == '' %} selected="selected" {% endif %}>请选择</option>
                        <option value="电话访谈" {% if object.itv_approach == '电话访谈' %} selected="selected" {% endif %}>电话访谈</option>
                        <option value="见面访谈" {% if object.itv_approach == '见面访谈' %} selected="selected" {% endif %}>见面访谈</option>
                        <option value="数据资料" {% if object.itv_approach == '数据资料' %} selected="selected" {% endif %}>数据资料</option>
                        <option value="路演" {% if object.itv_approach == '路演' %} selected="selected" {% endif %}>路演</option>
                        <option value="推荐" {% if object.itv_approach == '推荐' %} selected="selected" {% endif %}>推荐</option>
                        <option value="其它" {% if object.itv_approach == '其它' %} selected="selected" {% endif %}>其它</option>
                    </select>
                </div>

                <label for="status" class="col-2 col-form-label"><a style="color: red">*</a>访谈状态：</label>
                <div class="col-2">
                    <input type="number" id="status" name='status' class="form-control" placeholder="1:已访谈|0:未访谈" required>
                </div>

                <label for="fee_index" class="col-2 col-form-label"><a style="color: red">*</a>咨费系数：</label>
                <div class="col-2">
                    <input type="number" id="fee_index" name='fee_index' class="form-control" value="{{ object.fee_index }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="itv_duration" class="col-2 col-form-label"><a style="color: red">*</a>访谈时长(分钟)：</label>
                <div class="col-2">
                    <input type="number" id="itv_duration" name='itv_duration' class="form-control" value="{{ object.itv_duration }}" required>
                </div>

                <label for="itv_paid_duration" class="col-2 col-form-label"><a style="color: red">*</a>计费时长(分钟)：</label>
                <div class="col-2">
                    <input type="number" id="itv_paid_duration" name='itv_paid_duration' class="form-control" value="{{ object.itv_paid_duration }}" required>
                </div>


            </div>

            <div class="form-group row">
                <label for="knowledge" class="col-2 col-form-label"><a style="color: red">*</a>知识范围(1-5分)：</label>
                <div class="col-2">
                    <input type="number" id="knowledge" name='knowledge' class="form-control" value="{{ object.knowledge }}" placeholder="1-5分">
                </div>

                <label for="communication" class="col-2 col-form-label"><a style="color: red">*</a>沟通能力(1-5分)：</label>
                <div class="col-2">
                    <input type="number" id="communication" name='communication' class="form-control" value="{{ object.communication }}" placeholder="1-5分">
                </div>
                <label for="cooperation" class="col-2 col-form-label"><a style="color: red">*</a>配合程度(1-5分)：</label>
                <div class="col-2">
                    <input type="number" id="cooperation" name='cooperation' class="form-control" value="{{ object.cooperation }}" placeholder="1-5分">
                </div>



            </div>

             <div class="form-group row">
                <label for="interviewer" class="col-2 col-form-label"><a style="color: red">*</a>约谈人：</label>
                <div class="col-2">
                    <input type="text" id="interviewer" name='interviewer' class="form-control" value="{{ object.interviewer }}" placeholder="{{user.username}}" required>
                </div>

                <label for="recorder" class="col-2 col-form-label">添加/修改人：</label>
                <div class="col-2">
                    <input type="text" id="recorder" name='recorder' class="form-control" value="{{ user.username }}">
                </div>


            </div>

            <div class="control-group">
                <button type="submit" class="btn btn-success btn-sm">提交</button>
                &nbsp
                <button type="reset" class="btn btn-warning btn-sm">重置</button>
            </div>

        </form>
          </div>
      </div>

    {% endblock content %}